@using TEEmployee.Models;
@{
    ViewBag.Title = "工作紀錄管控表";
}

@section Styles {
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="~/Content/css/angular-moment-picker.min.css">
    <style>
        header {
            margin-top: 100px;
        }

        .month-select {
            display: flex;
            margin-bottom: 50px;
        }

            .month-select div {
                flex: 1;
                margin: 0 20px;
            }

        .center {
            display: flex;
            justify-content: center;
            align-items: end;
        }

            .center button {
                flex: 1;
            }

        .ninja {
            display: none;
        }
    </style>
}

<div ng-controller="EditCtrl" class="container">

    <header>
        <div class="form-group d-flex justify-content-between">
            <h2>@ViewBag.Title <font size="6" color="orange">({{selectedMonth}}月)</font></h2>
            <button type="button" class="btn btn-warning btn-lg mr-2" name="GetLastMonthData" ng-click="GetLastMonthData()">
                <span>匯入上月資料</span>
            </button>
        </div>
    </header>
    @*<div class="month-select">
            <div>
                <label for="SelectYear">請選擇年份：</label>
                <select class="form-select" id="SelectYear" name="SelectYear" ng-model="selectedYear" aria-label="Select Year">
                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select>
            </div>
            <div>
                <label for="SelectMonth">請選擇月份：</label>
                <select class="form-select" id="SelectYear" name="SelectMonth" ng-model="selectedMonth" aria-label="Select Year">
                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                </select>
            </div>
            <div class="center">
                <button type="button" class="btn btn-outline-secondary" ng-click="GetTasklogData()">查詢</button>
            </div>
        </div>*@

    <div class="input-group mb-3 w-25 p-3"
         moment-picker="ctrl.datepicker"
         format="YYYY-MM"
         locale="zh-tw"
         change="GetTasklogData()">
        @*<span class="input-group-addon">
            </span>*@
        <div class="input-group-prepend">
            <span class="input-group-text material-icons" id="basic-addon1">calendar_month</span>
        </div>
        <input class="form-control"
               placeholder="Select a date"
               ng-model="ctrl.datepicker"
               ng-model-options="{ updateOn: 'blur' }">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">請選擇年月份</span>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="width: 8%">計畫編號</th>
                <th style="width: 8%">工作項目</th>
                <th style="width: 8%">填報時數</th>
                <th style="width: 8%">實際時數</th>
                <th>新增</th>
                <th>詳細工作內容</th>
                <th style="width: 12%">預計完成日期</th>
                <th>備註</th>
                <th>刪除</th>
            </tr>
        </thead>

        @*ng-if create new child scope, use ng-init to define the parent index first
            https://stackoverflow.com/questions/26658679/ng-if-causing-parent-index-to-be-set-to-index*@

        <tbody ng-repeat="project in projects" ng-init="parentIndex=$index">
            <tr ng-repeat="log in project.logs">
                <td rowspan="{{project.logs.length}}" ng-if="$index === 0">
                    <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text" maxlength="5" size="5" ng-model="project.projno">
                </td>
                <td rowspan="{{project.logs.length}}" ng-if="$index === 0" ng-bind="project.itemno"></td>
                @*<td rowspan="{{project.logs.length}}" ng-if="$index === 0" ng-bind="project.workHour"></td>*@
                <td rowspan="{{project.logs.length}}" ng-if="$index === 0" ng-bind="project.hourStr"></td>

                <td rowspan="{{project.logs.length}}" ng-if="$index === 0">
                    <input class="form-control" type="text" maxlength="3" size="3" ng-model="project.realHour">
                </td>
                <td rowspan="{{project.logs.length}}" ng-if="$index === 0">

                    <button type="button" class="btn btn-outline-success" name="addRow" ng-click="addLogRow(parentIndex, $index)">
                        <span class="material-icons">add_shopping_cart</span>
                    </button>
                </td>
                @*<td>
                        <input type="button" value="+" name="addRow" ng-click="addLogRow($parent.$index, $index)">
                        <input type="button" value="-" name="removeRow" ng-click="removeLogRow($parent.$index, $index)">
                    </td>*@


                @*<td><input type="text" ng-model="log.content"></td>*@
                <td>
                    <textarea class="form-control autoExpand" ng-model="log.content" id="exampleFormControlTextarea1" cols="50" rows="1"></textarea>
                </td>
                <td><input class="form-control" type="text" size="10" ng-model="log.endDate"></td>
                @*<td><input class="form-control" type="text" size="10" ng-model="log.note"></td>*@
                <td>
                    <textarea class="form-control autoExpand" ng-model="log.note" id="exampleFormControlTextarea1" cols="50" rows="1"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger" name="removeRow" ng-click="removeLogRow($parent.$index, $index)">
                        <span class="material-icons">delete</span>
                    </button>
                </td>
        </tbody>
    </table>


    @*<div>
            <input type="button" value="+" name="addRow" ng-click="addProjRow()">
        </div>*@

    @*<button type="button" class="btn btn-outline-success" name="addRow" ng-click="addProjRow()">
            <span>新增計畫編號</span>
        </button>*@

    <div ng-cloak ng-show="succeed" class="alert alert-success animate-show-hide" role="alert">
        儲存成功!
    </div>

    <div class="form-group">
        <a class="btn btn-warning btn-lg mr-2" href="Tasklog" role="button">返回</a>
        <button type="button" class="btn btn-success btn-lg mr-2" name="addRow" ng-click="addProjRow()">
            <span>新增計畫編號</span>
        </button>
        <button type="button" class="btn btn-warning btn-lg mr-2" name="UpdateTasklogData" ng-click="UpdateTasklogData()">
            <span>儲存</span>
        </button>
    </div>


    <!--<div class="input-group mb-3 w-25 p-3"
         moment-picker="ctrl.datepicker"
         format="YYYY-MM"
         locale="zh-tw"
         change="GetTasklogData()">-->
    @*<span class="input-group-addon">
        </span>*@
    <!--<div class="input-group-prepend">
            <span class="input-group-text material-icons" id="basic-addon1">calendar_month</span>
        </div>
        <input class="form-control"
               placeholder="Select a date"
               ng-model="ctrl.datepicker"
               ng-model-options="{ updateOn: 'blur' }">
    </div>-->
    @*<div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>*@

    <!--<div class="input-group"
         moment-picker="ctrl.datepicker"
         format="YYYY-MM"
         locale="zh-tw">-->
    @*<span class="input-group-addon">
        </span>*@
    <!--<span class="material-icons input-group-addon">calendar_month</span>
        <input class="form-control"
               placeholder="Select a date"
               ng-model="ctrl.datepicker"
               ng-model-options="{ updateOn: 'blur' }">
    </div>-->
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" ng-click="UpdateTasklogData()" class="btn btn-warning" />
            </div>
        </div>*@

</div>

@section Scripts {
    @*<script src="~/Scripts/WebApp/Tasklog/TasklogCtrl.js"></script>*@
    <script src="@Url.Versioned("~/Scripts/WebApp/Tasklog/TasklogCtrl.js")"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
        <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>*@
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/angular-moment-picker.min.js"></script>
}


@*version one*@

@*<tr ng-repeat="item in rowList">
        <td><input type="text" ng-model="item.projno"></td>
        <td></td>
        <td></td>
        <td>
            <input type="button" value="+" name="addRow" ng-click="addProjRow($index, item.projno)">
            <input type="button" value="-" name="addRow" ng-click="removeProjRow($index)">
        </td>
        <td><input type="text" ng-model="item.a"></td>
        <td><input type="text" ng-model="item.b"></td>
        <td><input type="text" ng-model="item.c"></td>
    </tr>*@