
@{
    //ViewBag.Title = "Tasklog";
    ViewBag.Title = "工作紀錄管控表";
}

@section Styles {
    <style>       
        header {
            margin-top: 100px;
        }
    </style>
}




<div class="container">
    <header>
        <h2>工作紀錄管控表</h2>
    </header>

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-body">
                    @*<h5 class="card-title">填寫</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a href="~/Tasklog/Edit" class="btn btn-primary btn-lg"><strong>填寫工作紀錄</strong></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-body">
                    @*<h5 class="card-title">查閱</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a href="~/Tasklog/List" class="btn btn-primary btn-lg"><strong>查閱工作紀錄</strong></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-body">
                    @*<h5 class="card-title">查閱</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a href="~/IssueV2/List" class="btn btn-primary btn-lg"><strong>月會列管事項追蹤表</strong></a>                    
                </div>
            </div>
        </div>
    </div>
</div>
