
@{
    ViewBag.Title = "List";
}

@section Styles {
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="~/Content/css/angular-moment-picker.min.css">
    <style>
        header {
            margin-top: 100px;
        }

        .month-select {
            display: flex;
            margin-bottom: 50px;
        }

            .month-select div {
                flex: 1;
                margin: 0 20px;
            }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sortorder:after {
            content: '\25b2';
            /*BLACK UP-POINTING TRIANGLE*/
        }

        .sortorder.reverse:after {
            content: '\25bc';
            /*BLACK DOWN-POINTING TRIANGLE*/
        }
    </style>
}

<div ng-controller="ListCtrl" class="container" style="margin-top: 100px">
    <div ui-view></div>
</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Tasklog/TasklogCtrl.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/angular-moment-picker.min.js"></script>
}
