@using TEEmployee.Models;

@{
    ViewBag.Title = "UserList";
    ViewBag.Title = "查閱工作紀錄管控表";
}

<div ng-controller="UserListCtrl" class="container">

    <header>
        @*<h2>@ViewBag.Title</h2>*@
        <h2>查閱工作紀錄管控表</h2>
    </header>

    @*<div class="month-select">
            <div>
                <label for="SelectYear">請選擇年份：</label>
                <select class="form-select" id="SelectYear" name="SelectYear" ng-model="selectedYear" aria-label="Select Year">
                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select>
            </div>
            <div>
                <label for="SelectMonth">請選擇月份：</label>
                <select class="form-select" id="SelectMonth" name="SelectMonth" ng-model="selectedMonth" aria-label="Select Month">
                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                </select>
            </div>
            <div class="center">
                <button type="button" class="btn btn-warning" ng-click="GetAllMonthlyRecordData()">查詢</button>
            </div>
        </div>*@

    <div class="input-group mb-3 w-25 p-3"
         moment-picker="ctrl.datepicker"
         format="YYYY-MM"
         locale="zh-tw"
         change="GetAllMonthlyRecordData()">
        @*<span class="input-group-addon">
            </span>*@
        <div class="input-group-prepend">
            <span class="input-group-text material-icons" id="basic-addon1">calendar_month</span>
        </div>
        <input class="form-control"
               placeholder="Select a date"
               ng-model="ctrl.datepicker"
               ng-model-options="{ updateOn: 'blur' }">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">請選擇年月份</span>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>年月份</th>
            <th ng-click="sortBy('MonthlyRecord.empno')">
                員工編號
                <span class="sortorder" ng-show="propertyName === 'MonthlyRecord.empno'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('User.name')">
                姓名
                <span class="sortorder" ng-show="propertyName === 'User.name'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('User.group')">
                群組
                <span class="sortorder" ng-show="propertyName === 'User.group'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('User.group_one')">
                小組1
                <span class="sortorder" ng-show="propertyName === 'User.group_one'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('User.group_two')">
                小組2
                <span class="sortorder" ng-show="propertyName === 'User.group_two'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('User.group_three')">
                小組3
                <span class="sortorder" ng-show="propertyName === 'User.group_three'" ng-class="{reverse: reverse}"></span>
            </th>
            @*<th>內容</th>*@
            <th>選取</th>
        </tr>

        <tr ng-repeat="item in data | orderBy: propertyName:reverse">
            <td ng-bind="item.MonthlyRecord.yymm"></td>
            <td ng-bind="item.MonthlyRecord.empno"></td>
            <td ng-bind="item.User.name"></td>
            <td ng-bind="item.User.group"></td>
            <td ng-bind="item.User.group_one"></td>
            <td ng-bind="item.User.group_two"></td>
            <td ng-bind="item.User.group_three"></td>
            @*<td>
                <a target="_blank" href="~/Tasklog/Details/{{item.MonthlyRecord.guid}}">詳細內容</a>
            </td>*@
            <td>
                <input class="form-check-input" type="checkbox" ng-model="item.selected" id="gridCheck{{$index}}">
                <label class="form-check-label" ng-bind="item.name" for="gridCheck{{$index}}"></label>
            </td>
        </tr>

    </table>

    <div class="form-group">
        <a class="btn btn-warning btn-lg mr-2" href="Tasklog" role="button">返回</a>
        <button type="button" class="btn btn-warning btn-lg mr-2" name="GetMemberContent" ng-click="GetMemberContent()">
            <span>詳細內容</span>
        </button>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Tasklog/TasklogCtrl.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/angular-moment-picker.min.js"></script>
}