
@using TEEmployee.Models;

@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_LayoutStar - Copy.cshtml";
}

<h2>Unauthorized</h2>
<div class="text-center">
    <img class="rounded" src="~/Content/assets/img/You_Shall_Not_Pass.jpg" alt="You_Shall_Not_Pass" />
</div>

@section Scripts {
    <script src="@Url.Versioned("~/Scripts/WebApp/Error/ErrorCtrl.js")"></script>
}
