
@{
    ViewBag.Title = "Admin";
}

@section Styles {

    <style>
        header {
            margin-top: 100px;
        }
    </style>
}


<div ng-controller="AdminCtrl" class="container">

    <header>
        <h2>Admin</h2>
    </header>

    @if (Session["empno"] is "7596")
    {

        <button type="button" class="btn btn-outline-success" name="addRow" ng-click="InsertProjectItem()">
                更新旬卡資料
            </button>

            <button type="button" class="btn btn-outline-warning" name="addRow" ng-click="CreateMonthlyRecord()">
                建立本月工作紀錄表
            </button>

            <button type="button" class="btn btn-outline-info" name="addRow" ng-click="UpdateUser()">
                更新員工名單
            </button>

    }





    <div>
        <label for="input" class="btn btn-danger">匯入組織表</label>
        <input id="input" style="visibility:hidden;" type="file">
    </div>

    @*<input class="btn btn-danger" type="file" id="input" />*@

</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Home/AdminCtrl.js"></script>
    <script src="~/Scripts/read-excel-file.min.js"></script>
}