@{
    ViewBag.Title = "Admin";
}

@section Styles {

    <style>
        header {
            margin-top: 100px;
        }
    </style>
}

<div ng-controller="AdminCtrl" class="container">

    <header>
        <h2>Admin1019</h2>
    </header>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-success">員工履歷Word檔(多檔)</h4>
                    @using (Html.BeginForm("Uploaded", "Talent", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @*因為要多個上傳 所以要用到multiple屬性*@
                        <input type="file" id="filepicker" name="files" multiple />
                        <input type="submit" value="上傳" />
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-success">員工經歷文字檔</h4>
                    @using (Html.BeginForm("UploadExperience", "Talent", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" id="filepicker" name="file" />
                        <input type="submit" value="上傳" />
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-success">KPI檔</h4>
                    <div>
                        <form id="formKpiElem">
                            <input type="file" id="kpifilepicker" name="kpifiles">
                            <input type="submit" value="上傳" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    @if (Session["empno"] is "7596" || Session["empno"] is "7291")
    {
        <button type="button" class="btn btn-outline-success" name="addRow" ng-click="InsertProjectItem()">
            更新旬卡資料
        </button>

        <button type="button" class="btn btn-outline-warning" name="addRow" ng-click="CreateMonthlyRecord()">
            建立本月工作紀錄表
        </button>

        <button type="button" class="btn btn-outline-info" name="addRow" ng-click="UpdateUser()">
            更新員工名單
        </button>

        <button type="button" class="btn btn-outline-danger" name="addRow" ng-click="UpdateAllPercentComplete()">
            更新累積進度
        </button>

        <button type="button" class="btn btn-outline-dark" name="addRow" ng-click="NotifyUpdate()">
            通知測試
        </button>

        <button type="button" class="btn btn-outline-dark" name="addRow" ng-click="InsertKpiModels()">
            KPI
        </button>
    }
    @if (Session["empno"] is "7291")
    {
        <button type="button" class="btn btn-outline-secondary" name="addRow" ng-click="DownloadUserDB()">
            下載UserDB
        </button>
        <button type="button" class="btn btn-outline-primary" name="addRow" ng-click="DownloadProfessionDB()">
            下載ProfessionDB
        </button>
    }

    <div>
        <label for="input" class="btn btn-danger">匯入組織表</label>
        <input id="input" style="visibility:hidden;" type="file">
    </div>

    @*<div class="row">
            <div class="col-sm-12" style="padding-bottom:20px">
                <div class="col-sm-2">
                    <span>請選擇檔案：</span>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="file" name="importFile" id="importFile" />
                </div>
                <div class="col-sm-3">
                    <input class="btn btn-primary" id="btnUpload" type="button" value="上傳員工名單" />
                </div>
            </div>
        </div>*@

    @*<input class="btn btn-danger" type="file" id="input" />*@

</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Home/AdminCtrl.js"></script>
    <script src="~/Scripts/read-excel-file.min.js"></script>
}