
@{
    ViewBag.Title = "說明文件";
}

@section Styles {

    <style>
        header {
            margin-top: 100px;
        }
    </style>
}

<div class="container">
    <header>
        <h2>說明文件</h2>
    </header>
    <ul>
        <li>
            <a href="https://pmis05.sinotech.com.tw/Dept24/BaseApp/Service/GetFile.ashx?fs=b71f08f0-2bb0-4370-9c2f-0e70f8483668">
                20231030-軌道二部職涯規劃溝通與紀錄平台說明會【2】.pptx
            </a>
        </li>
        <li>
            <a href="https://pmis05.sinotech.com.tw/Dept24/BaseApp/DocMan/Play.aspx?uid=6bbfe4a5-8b53-4f18-8eb4-5d7d4787ee64">
                20231030-軌道二部職涯規劃溝通與紀錄平台說明會【2】影片
            </a>
        </li>
        <li>
            <a href="~/Content/assets/Download/20221107-軌道二部職涯規劃溝通與紀錄平台說明會.pptx" download>
                20221107-軌道二部職涯規劃溝通與紀錄平台說明會.pptx
            </a>
        </li>
        <li>
            <a href="https://pmis05.sinotech.com.tw/Dept24/BaseApp/DocMan/Play.aspx?uid=a0cf020c-39b5-441c-872a-057eca76079c">
                20221107-軌道二部職涯規劃溝通與紀錄平台說明會影片
            </a>
        </li>

    </ul>
    

    
    
</div>

    


