
@{
    ViewBag.Title = "更新歷程";
}

@section Styles {

    <style>
        header {
            margin-top: 100px;
        }
    </style>
}

<div class="container">
    <header>
        <h2>更新歷程</h2>
    </header>

    <table class="table table-striped">
        <thead>
            <tr>                
                <th scope="col">更新時間</th>
                <th scope="col" style="width:80%">更新內容</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>20240206</td>
                <td>【我要抱抱】上線</td>
            </tr>
            <tr>
                <td>20240206</td>
                <td>【核心專業盤點】上線</td>
            </tr>
            <tr>
                <td>20240206</td>
                <td>【培訓紀錄與規劃】上線</td>
            </tr>
            <tr>
                <td>20240206</td>
                <td>【升等規劃與條件】上線</td>
            </tr>
            <tr>
                <td>20240206</td>
                <td>【年度行事曆目標】上線</td>
            </tr>
            <tr>
                <td>20240206</td>
                <td>【人才培育資料庫】上線</td>
            </tr>
            <tr>
                <td>20240206</td>
                <td>【自評表與考核】- KPI模組上線</td>
            </tr>
            <tr>
                <td>20221107</td>
                <td>【工作紀錄管控表】上線</td>
            </tr>
            <tr>
                <td>20221107</td>
                <td>【自評表與考核】上線</td>
            </tr>
        </tbody>
    </table>

</div>