
@*@model TEEmployee.Models.User*@

@{
    //ViewBag.Title = "Home Page";
    ViewBag.Title = "首頁";
    //Layout = "~/Views/Shared/_LayoutStar - Copy.cshtml";
}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">員工職涯規劃<br>溝通與紀錄平台</h1>
                <hr class="divider" />

                @*@using (Html.BeginForm())
                {
                    <div class="form-group">                       
                        @Html.EditorFor(model => model.empno, new { htmlAttributes = new { @class = "form-control" ,@placeholder = "Enter Employee Number" } })                       
                        <input type="submit" value="Save" class="btn btn-default" style="color: white" /> 
                    </div>
                }*@
                @*<form method="post" action="~/Home/SwitchEmployeeNumber">
                    <input type="text" class="form-control" id="id" name="id" placeholder="Employee number" value="@Model.empno">
                    <button type="submit" class="btn btn-primary">Switch</button>
                </form>*@

            </div>
            <div class="col-lg-8 align-self-baseline">
                @*<p class="text-white-75 mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>*@
                @*<a class="btn btn-primary btn-xl" href="#portfolio">Find Out More</a>*@
                @*<p class="text-white-75 mb-5">(◔ д◔)</p>*@
                <a class="btn btn-primary btn-xl" href="#portfolio">功能模組</a>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            @*<div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="" )">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Profession</div>
                        <div class="project-name">核心專業盤點</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="" )">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Education</div>
                        <div class="project-name">拓展專業培養</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="" )">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Record</div>
                        <div class="project-name">培訓紀錄與規劃</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="" )">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Schedule</div>
                        <div class="project-name">年度行事曆目標</div>
                    </div>
                </a>
            </div>*@
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="@Url.Action("Index", "Assessment")">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Assessment</div>
                        <div class="project-name">自評表與考核</div>
                    </div>
                </a>
            </div>
            @*<div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="" )">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Promotion</div>
                        <div class="project-name">升等規劃與條件</div>
                    </div>
                </a>
            </div>*@
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="@Url.Action("Index", "Tasklog")" )">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/coast.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Tasklog</div>
                        <div class="project-name">工作紀錄管控表</div>
                    </div>
                </a>
            </div>
            @*<div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="" )">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/food.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">How Do You Turn This On?</div>
                        <div class="project-name">NaN</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/yellowsky.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">How Do You Turn This On?</div>
                        <div class="project-name">null</div>
                    </div>
                </a>
            </div>*@
            @*<div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/Content/assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                        <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>*@
        </div>
    </div>
</div>
