@{
    ViewBag.Title = "TalentRecord";
}

<div ng-controller="TalentRecordCtrl" class="container">

    @*<div class="container p-5 my-5 bg-dark text-white">*@
    <div class="container p-5 my-5 bg-light">
        <div class="box">
            <h2>人才資料庫</h2>
            <div class="form-check form-check-inline">
                <img src="~/Content/CV/{{user.empno}}.jpg" class="img-thumbnail" alt="{{user.name}}">
            </div>
            <div class="form-check form-check-inline">
                <h3>姓名：{{user.name}}</h3>
                <h3>生日：{{user.birthday}}</h3>
                <h3>年齡：{{user.age}}</h3>
            </div>
            <br />
            <br />
            <nav class="navbar navbar-light bg-light">
                <ul class="nav mb-3 container-fluid justify-content-start" id="pills-tab" role="tablist">
                    <li class="col text-center" role="presentation">
                        <a class="btn btn-outline-warning btn-lg active" id="pills-home-tab" data-toggle="pill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="學校、近三年考績、能力檢視、自我發展規劃(由員工自己編輯)" href="#pills-home" role="button" aria-controls="pills-home" aria-selected="true">基本資料與規劃</a>
                    </li>
                    <li class="col text-center" role="presentation">
                        <a class="btn btn-outline-warning btn-lg" id="pills-profile-tab" data-toggle="pill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="職位經歷、專案經歷" href="#pills-profile" role="button" aria-controls="pills-profile" aria-selected="false">專案經歷</a>
                    </li>
                    <li class="col text-center" role="presentation">
                        <a class="btn btn-outline-warning btn-lg" id="pills-contact-tab" data-toggle="pill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="規劃進程、專業證照、測評資料、優勢、劣勢、待發展能力" href="#pills-contact" role="button" aria-controls="pills-contact" aria-selected="false">個人特質</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    <div class="row">
                        <div class="exp">
                            <h4 class="inner">
                                <span>學歷</span>
                                <span>學校</span>
                                <span>科系</span>
                            </h4>
                            <div class="container">
                                <div ng-repeat="educational in user.educational">
                                    <div class="row align-items-start">
                                        <div class="col text-center">
                                            <h5>{{educational.split('　')[0]}}</h5>
                                        </div>
                                        <div class="col text-center">
                                            <h5>{{educational.split('　')[1]}}</h5>
                                        </div>
                                        <div class="col text-center">
                                            <h5>{{educational.split('　')[2]}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="exp">
                            <h4>近三年考績</h4>
                            <div class="inner">
                                <div class="col text-center">
                                    <h5>{{user.performance[0]}}</h5>
                                </div>
                                <div class="col text-center">
                                    <h5>{{user.performance[1]}}</h5>
                                </div>
                                <div class="col text-center">
                                    <h5>{{user.performance[2]}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>能力檢視</h4>
                        <div class="col form-group">
                            <h4>專業能力</h4>
                            <div ng-repeat="domainSkill in user.domainSkill">
                                <h5>{{domainSkill}}</h5>
                            </div>
                            <div ng-repeat="coreSkill in user.coreSkill">
                                <h5>{{coreSkill}}</h5>
                            </div>
                        </div>
                        <div class="col form-group">
                            <h4>管理能力</h4>
                            <div ng-repeat="manageSkill in user.manageSkill">
                                <h5>{{manageSkill}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <h4>自我發展規劃(由員工自己編輯)</h4>
                            <textarea class="form-control" ng-model="user.future" name="SaveResponse" rows="3">{{user.future}}</textarea>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row">
                    <div class="exp">
                        <h4>職位經歷</h4>
                        <div ng-repeat="experience in user.experience">
                            <h5>{{experience}}</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="exp">
                        <h4>專案經歷</h4>
                        <div ng-repeat="project in user.project">
                            <h5>{{project}}</h5>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="row">
                    <h4>規劃進程</h4>
                    <div class="inner">
                        <div ng-if="$index < 3" ng-repeat="item in planning">
                            <div class="col text-center">
                                @if (Session["empno"] is "4125")
                                {
                                    <input class="form-control text-center" ng-model="item.plan" name="SaveResponse" rows="1">
                                }
                                else
                                {
                                    <input class="form-control text-center" ng-model="item.plan" rows="1" readonly>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="inner">
                        <div ng-if="$index >= 3" ng-repeat="item in planning">
                            <div class="col text-center">
                                @if (Session["empno"] is "4125")
                                {
                                    <input class="form-control text-center" ng-model="item.plan" name="SaveResponse" rows="1">
                                }
                                else
                                {
                                    <input class="form-control text-center" ng-model="item.plan" rows="1" readonly>
                                }
                            </div>
                        </div>
                    </div>
                    <div><br /></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h4>專業證照</h4>
                            <div ng-repeat="license in user.license">
                                <h5>{{license}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h4>測評資料</h4>
                            @if (Session["empno"] is "4125")
                            {
                                <textarea class="form-control" ng-model="user.test" name="SaveResponse" rows="3">{{user.test}}</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" ng-model="user.test" rows="3" readonly>{{user.test}}</textarea>
                            }
                            @if (Session["empno"] is "4125" || Session["empno"] is "7291" || Session["empno"] is "7596")
                            {
                                <div class="row">
                                    <span>請選擇測評資料：</span>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="file" name="importPDFFile" id="importPDFFile" />
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-primary" id="btnPDFUpload" type="button" value="上傳" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h4>優勢</h4>
                            @if (Session["empno"] is "4125")
                            {
                                <textarea class="form-control" ng-model="user.advantage" name="SaveResponse" rows="3">{{user.advantage}}</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" ng-model="user.advantage" rows="3" readonly>{{user.advantage}}</textarea>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h4>劣勢</h4>
                            @if (Session["empno"] is "4125")
                            {
                                <textarea class="form-control" ng-model="user.disadvantage" name="SaveResponse" rows="3">{{user.disadvantage}}</textarea>
                            }
                            else
                            {
                                <textarea class="form-control" ng-model="user.disadvantage" rows="3" readonly>{{user.disadvantage}}</textarea>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <h4>待發展能力</h4>
                        @if (Session["empno"] is "4125")
                        {
                            <textarea class="form-control" ng-model="user.developed" name="SaveResponse" rows="3">{{user.developed}}</textarea>
                        }
                        else
                        {
                            <textarea class="form-control" ng-model="user.developed" rows="3" readonly>{{user.developed}}</textarea>
                        }
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-warning btn-lg" type="submit" value="返回" ng-click="ToTalent()" />
                <input class="btn btn-warning btn-lg" type="submit" value="儲存" ng-click="SaveResponse(user, planning)" />
            </div>
            <div class="col-md-offset-2 col-md-10">
            </div>
        </div>

    </div>

    @*<div class="container p-5 my-5 bg-dark text-white">
            <div class="box">
                <h2>人才資料庫</h2>
                <div class="form-check form-check-inline">
                    <img src="~/Content/CV/{{user.empno}}.jpg" class="img-thumbnail" alt="{{user.name}}">
                </div>
                <div class="form-check form-check-inline">
                    <h3>姓名：{{user.name}}</h3>
                    <h3>生日：{{user.birthday}}</h3>
                    <h3>年齡：{{user.age}}</h3>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="exp">
                        <h4 class="inner">
                            <span>學歷</span>
                            <span>學校</span>
                            <span>科系</span>
                        </h4>
                        <div class="container">
                            <div ng-repeat="educational in user.educational">
                                <div class="row align-items-start">
                                    <div class="col text-center">
                                        <h5>{{educational.split('　')[0]}}</h5>
                                    </div>
                                    <div class="col text-center">
                                        <h5>{{educational.split('　')[1]}}</h5>
                                    </div>
                                    <div class="col">
                                        <h5>{{educational.split('　')[2]}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="exp">
                        <h4>近三年考績</h4>
                        <div class="inner">
                            <div class="col">
                                <h5>{{user.performance[0]}}</h5>
                            </div>
                            <div class="col">
                                <h5>{{user.performance[1]}}</h5>
                            </div>
                            <div class="col">
                                <h5>{{user.performance[2]}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="exp">
                        <h4>職位經歷</h4>
                        <div ng-repeat="experience in user.experience">
                            <h5>{{experience}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="exp">
                        <h4>專業證照</h4>
                        <div ng-repeat="license in user.license">
                            <h5>{{license}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <button class="btn btn-secondary btn-lg" type="button" data-toggle="collapse" data-target="#projectExperience">專案經歷 (可開啟收合)</button>
                <div class="collapse" id="projectExperience">
                    <div class="exp">
                        <br />
                        <br />
                        <div ng-repeat="project in user.project">
                            <h5>{{project}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <h4>規劃進程</h4>
                        <textarea class="form-control" ng-model="user.planning" name="SaveResponse" rows="3">{{user.planning}}</textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <h4>測評資料</h4>
                        <textarea class="form-control" ng-model="user.test" name="SaveResponse" rows="3">{{user.test}}</textarea>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <h4>優勢</h4>
                        <textarea class="form-control" ng-model="user.advantage" name="SaveResponse" rows="3">{{user.advantage}}</textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <h4>待發展能力</h4>
                        <textarea class="form-control" ng-model="user.developed" name="SaveResponse" rows="3">{{user.developed}}</textarea>
                    </div>
                </div>
            </div>
            <br />
            @if (Session["empno"] is "4125")
            {
                <div class="form-group">
                    <h4>未來發展規劃</h4>
                    <textarea class="form-control" ng-model="user.future" name="SaveResponse" rows="3">{{user.future}}</textarea>
                </div>
                <br />
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="返回" ng-click="ToTalent()" class="btn btn-warning" />
                    <input type="submit" value="儲存" ng-click="SaveResponse(user)" class="btn btn-warning" />
                </div>
            </div>
        </div>*@

</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Talent/TalentRecordCtrl.js"></script>
    <script src="~/Scripts/WebApp/Talent/BasicInfomation.js"></script>
}
