
<div ng-controller="GroupPlanCtrl" class="container">

    <div class="row" ng-if="user.empno == '4125' || user.empno == '7291' || user.group_manager == 1">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1" ng-if="user.empno == '4125' || user.empno == '7291'">
                    <label for="SelectGroup">請選擇組別</label>
                </div>
                <div class="col-sm-1" ng-if="user.empno == '4125' || user.empno == '7291'">
                    <select class="form-select" id="SelectGroup" name="SelectGroup" ng-model="selectedGroup" ng-change="FilterDataByGroup(selectedGroup)" aria-label="Select the Group">
                        <option ng-repeat="group in groups" value="{{group}}">{{group}}</option>
                    </select>
                </div>
                <div class="col-sm-2" ng-if="user.empno == '4125' || user.empno == '7291'">
                </div>
                <div class="col-sm-4" ng-if="user.group_manager == 1">
                </div>
                <div class="col-sm-4">
                    <div class="alert alert-warning" role="alert">
                        檔案限定格式為.pdf，檔案大小不超過10MB
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <form id="formElem">
                            <input type="file" id="filepicker" name="file" accept=".pdf" hidden>
                        </form>
                    </div>
                    <input class="form-control" type="file" name="importPDFFile" id="importPDFFile" />
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" id="btnPDFUpload" type="button" value="上傳" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <iframe id="frame" src={{GetPDF}} style="width:100%;min-height:800px;margin:0 auto;" type="application/pdf"></iframe>
    </div>

</div>





