
<div ng-controller="PersonalPlanCtrl" class="container">

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3" ng-if="user.department_manager || user.group_manager || user.group_one_manager || user.group_two_manager || user.group_three_manager || user.empno == '7291'">
                    <div class="row">
                        <label for="SelectGroup">請選擇組別</label>
                    </div>
                    <div class="row">
                        <select class="form-select" id="SelectGroup" name="SelectGroup" ng-model="selectedGroup" ng-change="FilterDataByGroup(selectedGroup)" aria-label="Select the Group" style="width: 80%">
                            <option ng-repeat="group in groups" ng-class="{'highlight-select': group == '設計' || group == '規劃'|| group == '專管'|| group == '智慧軌道創新小組'|| group == '行政組'|| group == '計畫管理組'}" value="{{group}}">{{group}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3" ng-if="user.department_manager || user.group_manager || user.group_one_manager || user.group_two_manager || user.group_three_manager || user.empno == '7291'">
                    <div class="row">
                        <label for="SelectUser">請選擇人員</label>
                    </div>
                    <div class="row">
                        <select class="form-select" id="SelectUser" name="SelectUser" ng-model="selectedUser" ng-change="FilterDataByUser(selectedUser)" aria-label="Select the User" style="width: 80%">
                            <option ng-repeat="user in users" value="{{user}}">{{user}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="alert alert-warning" role="alert">
                        檔案限定格式為.pdf，檔案大小不超過10MB
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <form id="formElem">
                            <input type="file" id="filepicker" name="file" accept=".pdf" hidden>
                        </form>
                    </div>
                    <input class="form-control" type="file" name="importPDFFile" id="importPDFFile" />
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" id="btnPDFUpload" type="button" value="上傳" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <label for="SelectGroup">請選擇年份</label>
            </div>
            <div class="row">
                <select class="form-select" id="SelectYear" name="SelectYear" ng-model="selectedYear" ng-change="FilterDataByYear(selectedYear)" aria-label="Select the Year" style="width: 80%">
                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <h4>　</h4>
        </div>
    </div>

    <div>
        <iframe id="frame" src={{GetPDF}} style="width:100%;min-height:800px;margin:0 auto;" type="application/pdf"></iframe>
    </div>
    <br />
    <br />

    <div class="row">
        <h4>主管回饋</h4>
        <div ng-repeat="item in response track by $index">
            <div class="row" ng-if="item.manager_id != user.empno">
                <h5>{{item.manager_name}}</h5>
                <input class="form-control text-center" ng-model="item.response" rows="3" readonly>
            </div>
            <div class="row" ng-if="item.manager_id == user.empno">
                <h5>{{item.manager_name}}</h5>
                <input class="form-control text-center" ng-model="item.response" rows="3">
            </div>
            <br />
        </div>
    </div>
    <br />

    <div class="col-sm-3" ng-if="user.department_manager || user.group_manager || user.group_one_manager || user.group_two_manager || user.group_three_manager || user.empno == '7291'">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
            <div class="col-md-offset-2 col-md-10">
                @*<input class="btn btn-warning btn-lg" type="submit" value="返回" ng-click="ToTalent()" />*@
                <input class="btn btn-warning btn-lg" type="submit" value="儲存" ng-click="SaveResponse(response)" />
            </div>
            <div class="col-md-offset-2 col-md-10">
            </div>
        </div>
    </div>

</div>
