
<div ng-controller="PersonalPlanCtrl" class="container">

    <div class="row">
        <div class="form-group">
            <div class="row">
                <h4>個人規劃</h4>
                <div class="col-sm-6">
                    <div class="alert alert-warning" role="alert" style="width:30%">
                        檔案限定格式為.pdf，檔案大小不得超過10MB
                    </div>
                    <div>
                        <form id="formElem">
                            <input type="file" id="filepicker" name="file" accept=".pdf" hidden>
                        </form>
                    </div>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-4">
                    <input class="form-control" type="file" name="importPDFFile" id="importPDFFile" />
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-primary" id="btnPDFUpload" type="button" value="上傳" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <iframe src={{pdfReader}} style="width:100%;min-height:800px;margin:0 auto;" type="application/pdf"></iframe>
    </div>

</div>





