
@{
    ViewBag.Title = "軌道二部績優員工票選";
}


@section Styles {

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        .hover-card {
            cursor: pointer;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }

            .hover-card:hover {
                transform: scale(1.03);
                box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            }
    </style>

}

<div style="height: 100px"></div>

<div ng-controller="BallotCtrl" class="container">

    <h1 class="text-center my-2">軌道二部績優員工票選</h1>

    @if (Session["leader"] is object)
    {
        <div class="text-center">
            <button type="button" ng-click="download()" class="btn btn-danger btn-lg">下載統計資料</button>
        </div>
        
    }

    <div class="my-2">
        <p style="white-space: pre-line;">
            本部門績優員工，為納入同仁票選參與，擬請同仁針對下述因素進行考量，挑出6名心目中最優秀的軌道二部員工，供部門進行績優員工提報進行參考。
            投票時間於11/5日(三)上午9:00開始投票，11/7日(五)下午5:00截止
            所有同仁均須投票，候選人為全部門同仁(不含協理與技術經理)
            •  工作績效顯著：
            • 達成或超越年度/專案目標 。
            • 執行重要專案或臨時交辦事項，圓滿達成且成效卓著。
            •  創新與改善：
            • 提出具體興革意見或創新方案，經採行後對業務有實質貢獻
            • 積極投入研究發展，有優良成果
            •  服務熱忱與團隊合作：
            • 主動積極、負責盡職，提升業主服務品質。
            • 熱心協助同仁、具備良好溝通與合作精神。
        </p>
    </div>

    <div ng-if="!user">

        <div class="row row-cols-1 row-cols-md-6">
            <div ng-repeat="item in data" class="col mb-4">
                <div class="card text-center border-dark hover-card" ng-click="selectCandidate(item)" ng-class="{'bg-warning': item.selected }">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.empno }}</h5>
                        <h5 class="card-text">{{ item.name }}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-2">
            <div class="alert" role="alert" ng-class="count === 6 ? 'alert-success' : 'alert-warning'">
                你已經選擇 {{ count }} 位候選人 <span ng-hide="count === 6">【請選擇 6 位】</span>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" ng-click="sendBallot()" class="btn btn-warning btn-lg" ng-disabled="count !== 6">送出</button>
        </div>

    </div>

    <div ng-if="user">
        <div class="my-2">
            <div class="alert alert-success" role="alert">
                你已經選擇 {{ user.choices }}
            </div>
        </div>
    </div>





</div>


@section Scripts {
    <script src="~/Scripts/WebApp/Ballot/BallotCtrl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.js" integrity="sha512-B+gr+zLWg81qxVwvtYwKrmjvQtZKD/GGFF7jD80OfzbqFw+NsbS5faEqpCO7Q7oRw1bYi0+WLJf54j8Vm7NADw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}