
<div ng-controller="ChartCtrl" class="container">

    <div class="chartmenu">

        <div>
            <select class="form-select" id="SelectGroup" name="SelectGroup" ng-model="selectedGroup" ng-change="GetAllScoresByRole()" aria-label="Select the Group">
                <option ng-repeat="group in auth.GroupAuthorities" value="{{group.GroupName}}">{{group.GroupName}}</option>
            </select>
        </div>

        <div>
            <a tabindex="0" class="btn btn-sm btn-secondary pop" role="button" data-toggle="popover" data-trigger="hover" title="評分說明" data-html="true"
               data-content="分數區間為1~5分</br>1分「非所需技能」</br>2分「安排學習技能」</br>3分「學習中」</br>4分「可獨立作業」</br>5分「精通且可指導他人」">評分說明</a>
        </div>

    </div>

    <div class="uvcontainer">

        <div>
            <canvas id="myChart"></canvas>
        </div>

    </div>

</div>






