
<div ng-controller="ScoreCtrl" class="container">

    <div class="chartmenu">

        <div>
            <select class="form-select" id="SelectGroup" name="SelectGroup" ng-model="selectedGroup" ng-change="GetAllScoresByRole()" aria-label="Select the Group">
                <option ng-repeat="group in editableGroup" value="{{group.GroupName}}">{{group.GroupName}}</option>
            </select>
        </div>

        <div>
            <a tabindex="0" class="btn btn-sm btn-secondary pop" role="button" data-toggle="popover" data-trigger="hover" title="領域技能評分說明" data-html="true"
               data-content="分數區間為 0 ~ 5分</br>0分「非所需技能」</br>1分「安排學習技能」</br>2分「學習中」</br>3分「可獨立作業」</br>4分「精通且可指導他人」</br>5分「專家，從事專業達五年以上」">領域技能評分說明</a>
        </div>

        <div>
            <a tabindex="0" class="btn btn-sm btn-secondary pop" role="button" data-toggle="popover" data-trigger="hover" title="核心及管理技能評分說明" data-html="true"
               data-content="分數區間為 1 ~ 5分</br>1分「非常不熟悉」</br>2分「不熟悉」</br>3分「普通」</br>4分「熟悉」</br>5分「非常熟悉」">核心及管理技能評分說明</a>
        </div>


    </div>

    <div class="uvcontainer">

        @*<h2 class="mt-5">Domain Skills</h2>*@

        <div class="sega">
            <h2 class="bg-secondary text-white">專業能力</h2>

            <div>
                <h2 class="mt-1">領域技能</h2>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%">人員</th>
                            <th scope="col" ng-repeat="skill in domain">{{skill.content}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="member in members">
                            <th scope="row" class="text-center" ng-bind="member.name"></th>
                            <td class="p-0" ng-repeat="skill in domain">
                                <div class="h-100 d-flex">
                                    <input type="text" class="scoreInput" ng-class="{'has-error': isInvalidDomainScore(skill.scores[$parent.$index].score)}" ng-model="skill.scores[$parent.$index].score">
                                </div>
                                @*<div ng-bind="skill.scores[$parent.$index].score"></div>*@
                            </td>

                        </tr>

                    </tbody>
                </table>

                <h2 class="mt-1">核心技能</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%">人員</th>
                            <th scope="col" ng-repeat="skill in core">{{skill.content}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="member in members">
                            <th scope="row" class="text-center" ng-bind="member.name"></th>
                            <td class="p-0" ng-repeat="skill in core">
                                <div class="h-100 d-flex">
                                    <input type="text" class="scoreInput" ng-class="{'has-error': isInvalidManageCoreScore(skill.scores[$parent.$index].score)}" ng-model="skill.scores[$parent.$index].score">
                                </div>
                                @*<div ng-bind="skill.scores[$parent.$index].score"></div>*@
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            

        </div>

        
        <div class="sega">
            <h2 class="bg-secondary text-white">管理能力</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">人員</th>
                        <th scope="col" ng-repeat="skill in manage">{{skill.content}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in members">
                        <th scope="row" class="text-center" ng-bind="member.name"></th>
                        <td class="p-0" ng-repeat="skill in manage">
                            <div class="h-100 d-flex">
                                <input type="text" class="scoreInput" ng-model="skill.scores[$parent.$index].score" ng-class="{'has-error': isInvalidManageCoreScore(skill.scores[$parent.$index].score)}">
                            </div>
                            @*<div ng-bind="skill.scores[$parent.$index].score"></div>*@
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>       

    </div>

    @*<div class="top-btn">
            <button type="button" class="btn btn-primary btn-lg" ng-click="upsertScores()">儲存</button>
        </div>*@


    <div class="top-btn">
        <button class="animate-btn" id="button" ng-click="upsertScores()"></button>
    </div>


</div>


<!--<div ng-controller="ScoreCtrl" class="container">

    <div class="chartmenu">

        <div>
            <select class="form-select" id="SelectGroup" name="SelectGroup" ng-model="selectedGroup" ng-change="GetAllScoresByRole()" aria-label="Select the Group">
                <option ng-repeat="group in auth.GroupAuthorities" value="{{group.GroupName}}">{{group.GroupName}}</option>
            </select>
        </div>

        <div>
            <a tabindex="0" class="btn btn-sm btn-secondary pop" role="button" data-toggle="popover" data-trigger="hover" title="評分說明" data-html="true"
               data-content="分數區間為1~5分</br>1分「非所需技能」</br>2分「安排學習技能」</br>3分「學習中」</br>4分「可獨立作業」</br>5分「精通且可指導他人」">評分說明</a>
        </div>


    </div>

    <div class="uvcontainer">

        <h2 class="mt-5">Hard Skill</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%">人員</th>
                    <th scope="col" ng-repeat="skill in hard">{{skill.content}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in members">
                    <th scope="row" class="text-center" ng-bind="member.name"></th>
                    <td class="p-0" ng-repeat="skill in hard">
                        <div class="h-100 d-flex">
                            <input type="text" class="scoreInput" ng-model="skill.scores[$parent.$index].score">
                        </div>-->
                        @*<div ng-bind="skill.scores[$parent.$index].score"></div>*@
                    <!--</td>

                </tr>

            </tbody>
        </table>

        <h2 class="mt-5">Soft Skill</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%">人員</th>
                    <th scope="col" ng-repeat="skill in soft">{{skill.content}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in members">
                    <th scope="row" class="text-center" ng-bind="member.name"></th>
                    <td class="p-0" ng-repeat="skill in soft">
                        <div class="h-100 d-flex">
                            <input type="text" class="scoreInput" ng-model="skill.scores[$parent.$index].score">
                        </div>-->
                        @*<div ng-bind="skill.scores[$parent.$index].score"></div>*@
                    <!--</td>

                </tr>

            </tbody>
        </table>

    </div>-->

    @*<div class="top-btn">
            <button type="button" class="btn btn-primary btn-lg" ng-click="upsertScores()">儲存</button>
        </div>*@


    <!--<div class="top-btn">
        <button class="animate-btn" id="button" ng-click="upsertScores()"></button>
    </div>


</div>-->



