
<div ng-controller="SkillCtrl" class="container">

    <div class="chartmenu">

        <div>
            @*<label for="SelectGroup">請選擇組別</label>*@
            <select class="form-select" id="SelectGroup" name="SelectGroup" ng-model="selectedGroup" ng-change="GetAllSkillsByRole()" aria-label="Select the Group">
                <option ng-repeat="group in auth.GroupAuthorities" value="{{group.GroupName}}">{{group.GroupName}}</option>
            </select>
        </div>

    </div>

    <div class="skill uvcontainer">
        <div>
            <div class="p-3 mb-2 bg-info text-white d-flex justify-content-between align-items-center">
                <div>Current Hard Skills</div>
                <div>
                    <button type="button" ng-click="cloneDeepToModal(nowHard, 'now', 'hard')" class="btn btn-sm" data-toggle="modal" data-target="#skillModal">
                        <span class="material-icons text-white">edit_note</span>
                    </button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="skill in nowHard">
                    {{skill.content}}
                </li>
            </ul>
        </div>
        <div>
            <div class="p-3 mb-2 bg-info text-white d-flex justify-content-between align-items-center">
                <div>Current Soft Skills</div>
                <div>
                    <button type="button" ng-click="cloneDeepToModal(nowSoft, 'now', 'soft')" class="btn btn-sm" data-toggle="modal" data-target="#skillModal">
                        <span class="material-icons text-white">edit_note</span>
                    </button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="skill in nowSoft">
                    {{skill.content}}
                </li>
            </ul>
        </div>
        <div>
            <div class="p-3 mb-2 bg-info text-white d-flex justify-content-between align-items-center">
                <div>Future Hard Skills</div>
                <div>
                    <button type="button" ng-click="cloneDeepToModal(futureHard, 'future', 'hard')" class="btn btn-sm" data-toggle="modal" data-target="#skillModal">
                        <span class="material-icons text-white">edit_note</span>
                    </button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="skill in futureHard">
                    {{skill.content}}
                </li>
            </ul>
        </div>
        <div>
            <div class="p-3 mb-2 bg-info text-white d-flex justify-content-between align-items-center">
                <div>Future Soft Skills</div>
                <div>
                    <button type="button" ng-click="cloneDeepToModal(futureSoft, 'future', 'soft')" class="btn btn-sm" data-toggle="modal" data-target="#skillModal">
                        <span class="material-icons text-white">edit_note</span>
                    </button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="skill in futureSoft">
                    {{skill.content}}
                </li>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="skillModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">編輯專業項目</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" ng-model="newSkill" placeholder="專業名稱" aria-label="專業名稱" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" ng-click="addSkill(newSkill)" type="button">新增</button>
                        </div>
                    </div>

                    <form name="myform">
                        <div class="list-group list-group-flush">
                            <div ng-repeat="skill in modal.data" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between align-items-center tooltipParent">
                                    <input type="text" class="borderlessInput" ng-model="skill.content" name="myinput{{$index}}" placeholder="請填入專業名稱" required>
                                    <div class="d-flex w-100 justify-content-end tooltipChild">

                                        <button type="button" class="btn btn-sm" ng-click="moveUp($index)">
                                            <span class="material-icons">arrow_upward</span>
                                        </button>
                                        <button type="button" class="btn btn-sm" ng-click="moveDown($index)">
                                            <span class="material-icons">arrow_downward</span>
                                        </button>
                                        <button type="button" class="btn btn-sm" ng-click="deleteSkill($index)">
                                            <span class="material-icons">delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>                    

                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="myform.$invalid" ng-click="saveChanges()">儲存</button>
                </div>
            </div>
        </div>
    </div>


</div>




