
@{
    ViewBag.Title = "群組培訓紀錄";
}


@section Styles {

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link rel="stylesheet" href="~/Content/css/angular-moment-picker.min.css">*@
    <style>

        #mainNav, #mainNav.navbar-shrink {
            box-shadow: none;
        }

        #childNav {
            margin-top: 80px;
        }

        .chartmenu {
            display: flex;
            margin-bottom: 40px;
        }

            .chartmenu div {
                flex: 1;
                margin: 0 20px;
            }
    </style>
}


<div ng-controller="GroupCtrl" class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark" id="childNav" style="background-color: #4CAF50">
        <a class="navbar-brand" href="#">培訓紀錄與規劃</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Training")">個人培訓紀錄</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Group", "Training")">群組培訓紀錄</a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" href="#">個人課程規劃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">E-learning</a>
                    </li>*@
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="chartmenu">
            <div>
                <label for="SelectYear">年份</label>
                <select class="form-select" id="SelectYear" name="SelectYear" ng-model="selectedYear" ng-change="selectYear()" aria-label="Select the Year">
                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select>
            </div>
            <div>
                <label for="SelectManager">群組</label>
                <select class="form-select manager" id="SelectManager" name="SelectGroup" ng-model="selectedGroup" ng-change="selectGroup()" aria-label="Select the Manager">
                    <option value="" disabled>請選擇群組</option>
                    <option ng-repeat="group in groups" value="{{group}}">{{group}}</option>
                </select>
            </div>
            <div>
                <label for="SelectCategory">員工</label>
                <select class="form-select" id="SelectCategory" name="SelectEmployee" ng-model="selectedEmployee" ng-change="selectEmployee()" aria-label="Select the Category">
                    <option value="" disabled>請選擇員工</option>
                    <option ng-repeat="employee in employees" value="{{employee.user.empno}}">{{employee.user.name}}({{employee.count}})</option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-outline-primary btn-sm" ng-click="downloadGroupExcel()">
                    <span class="material-icons">download</span>
                </button>
                <label style="font-size: 0.9em">群組培訓資料下載</label>
            </div>
        </div>


        <div ng-repeat="item in records" class="card text-center">

            <div class="card-body">
                <h5 ng-bind="item.title" class="card-title"></h5>
                <h6>{{item.start_date}}  ({{item.duration}} 小時)</h6>
                @*<p ng-bind="item.duration" class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
            <h5>
                @*培訓人員*@
                <span ng-repeat="name in item.names" ng-bind="name" class="badge badge-info mx-1"></span>
            </h5>
            <div class="card-footer text-muted">

            </div>
        </div>

    </div>



</div>


@section Scripts {
    <script src="~/Scripts/WebApp/Training/TrainingCtrl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.js" integrity="sha512-B+gr+zLWg81qxVwvtYwKrmjvQtZKD/GGFF7jD80OfzbqFw+NsbS5faEqpCO7Q7oRw1bYi0+WLJf54j8Vm7NADw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}