
@{
    ViewBag.Title = "培訓紀錄與規劃";
}


@section Styles {

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link rel="stylesheet" href="~/Content/css/angular-moment-picker.min.css">*@
    <style>

        #mainNav, #mainNav.navbar-shrink {
            box-shadow: none;
        }

        #childNav {
            margin-top: 80px;
        }
    </style>
}


<div ng-controller="TrainingCtrl" class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark" id="childNav" style="background-color: #4CAF50">
        <a class="navbar-brand" href="#">培訓紀錄與規劃</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Training")">個人培訓紀錄</a>
                </li>
                @if (Session["group_leader"] is true)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Group", "Training")">群組培訓紀錄</a>
                    </li>
                }

                @*<li class="nav-item">
            <a class="nav-link" href="#">個人課程規劃</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">E-learning</a>
        </li>*@
            </ul>
        </div>
    </nav>

   

    @if (Session["Admin"] is true)
    {
        <div>
            <form id="formElem">
                Files: <input type="file" id="trainingfilepicker" name="trainingFile">
                <input type="submit">
            </form>
        </div>
    }


    <table class="table">
        <tr>
            <th>員工編號</th>
            <th>培訓民國年度</th>
            <th>培訓種類</th>
            <th>培訓編號</th>
            <th>培訓名稱</th>
            <th>主辦單位</th>
            <th>開始日期</th>
            <th>結束日期</th>
            <th>時數</th>
        </tr>

        <tr ng-repeat="item in records">
            <td ng-bind="item.empno"></td>
            <td ng-bind="item.roc_year"></td>
            <td ng-bind="item.training_type"></td>
            <td ng-bind="item.training_id"></td>
            <td ng-bind="item.title"></td>
            <td ng-bind="item.organization"></td>
            <td ng-bind="item.start_date"></td>
            <td ng-bind="item.end_date"></td>
            <td ng-bind="item.duration"></td>
        </tr>

    </table>





    @*<div ui-view></div>*@

</div>


@section Scripts {
    <script src="~/Scripts/WebApp/Training/TrainingCtrl.js"></script>
}