
@{
    ViewBag.Title = "辦公資源借用";
    //Layout = "~/Views/Shared/_LayoutStar.cshtml";
}

@section Styles {
    <style>
        

    </style>
}




<div class="container" style="margin-top:100px; padding-top:20px">
    
    <header class="mb-4">
        <h2>辦公資源借用</h2>
    </header>

    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="bg-info btn-lg text-white p-3">
                        <h3><strong>會議室借用</strong></h3>
                    </div>
                    <div class="list-group">
                        <a href="https://portal2023.sinotech.com.tw/MeetingReserve" class="list-group-item list-group-item-action flex-column align-items-start border" target="_blank">                            
                            <h5 class="p-3">公司會議室</h5>                            
                        </a>
                        <a href="https://engserv.sinotech.com.tw/Dept24/BaseApp/Meeting/MeetingRoom.aspx" class="list-group-item list-group-item-action flex-column align-items-start border" target="_blank">
                            <h5 class="p-3">部門會議室</h5>
                        </a>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="bg-info btn-lg text-white p-3">
                        <h3><strong>公用電腦借用</strong></h3>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

