@{
    ViewBag.Title = "Review";
}

@*<h2>Review</h2>*@

@* white space line break
    https://stackoverflow.com/questions/39325414/line-break-in-html-with-n*@


<div ng-controller="AssessEmployeeCtrl" class="container">

    <header id="top">
        @*<h3 ng-bind="name"></h3>*@
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a ng-bind="name + ' 【自我評估表】'" class="navbar-brand" href=""></a>
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
        <!--<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">-->
        @*<a class="nav-item nav-link" ui-sref="AssessEmp">AssessEmp</a>
            <a class="nav-item nav-link" ui-sref="Compare">Compare</a>*@
        @*<a class="nav-item nav-link" ui-sref="EmployeeList">Employee List</a>*@
        <!--<a class="nav-item nav-link" ui-sref="EmployeeList">返回員工列表</a>

            </div>
        </div>-->
        <form class="form-inline">
            <a class="btn btn-outline-secondary" ui-sref="EmployeeList">返回員工列表</a>

            @*<button class="btn btn-outline-success" type="button">Main button</button>*@
        </form>

    </nav>

    <table class="table table-borderless table-hover">

        <thead class="thead-dark">
            <tr>
                @*<th>Content</th>
                    <th>Choice</th>*@
                <th>題目</th>
                <th>選項</th>
            </tr>
        </thead>

        <tbody ng-if="state != 'submit'">
            <tr ng-repeat="item in Responses">

                @*category name*@
                <td ng-if="item.Id == 0" ng-bind="item.Content" colspan="2" class="table-warning"></td>
                @*content and choice*@
                <td ng-if="item.Content != '自評摘要' && item.Id != 0 && item.Content != '意見回饋' && item.Content != '自我總評'" ng-bind="item.Content"></td>

                <td ng-if="item.Content != '自評摘要' && item.Id != 0 && item.Content != '意見回饋' && item.Content != '自我總評'" ng-bind="item.Choice" class="w-25"></td>

                <td ng-if="item.Content =='自評摘要'" colspan="2">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">自評摘要</label>
                        <p ng-bind="item.Choice"></p>
                    </div>
                </td>
                <td ng-if="item.Content =='自我總評'" colspan="2">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">自我總評</label>
                        <p ng-bind="item.Choice"></p>
                    </div>
                </td>
                <td ng-if="item.Content =='意見回饋'" colspan="2">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">意見回饋</label>
                        <textarea class="form-control assesstext" ng-model="item.Choice" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </td>

            </tr>
        </tbody>

        <tbody ng-if="state === 'submit'">
            <tr ng-repeat="item in Responses">

                @*category name*@
                <td ng-if="item.Id == 0" ng-bind="item.Content" colspan="2" class="table-warning"></td>
                @*content and choice*@
                <td ng-if="item.Content != '自評摘要' && item.Id != 0 && item.Content != '意見回饋' && item.Content != '自我總評'" ng-bind="item.Content"></td>

                <td ng-if="item.Content != '自評摘要' && item.Id != 0 && item.Content != '意見回饋' && item.Content != '自我總評'" ng-bind="item.Choice" class="w-25"></td>

                <td ng-if="item.Content =='自評摘要'" colspan="2">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">自評摘要</label>
                        <p ng-bind="item.Choice"></p>
                    </div>
                </td>
                <td ng-if="item.Content =='自我總評'" colspan="2">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">自我總評</label>
                        <p ng-bind="item.Choice"></p>
                    </div>
                </td>
                <td ng-if="item.Content =='意見回饋'" colspan="2">
                    <div class="form-group">
                        @*<label for="exampleFormControlTextarea1">意見回饋</label>
                            <textarea class="form-control assesstext" ng-model="item.Choice" id="exampleFormControlTextarea1" rows="3"></textarea>*@
                        <label for="exampleFormControlTextarea1">意見回饋</label>
                        <p ng-bind="item.Choice"></p>
                    </div>
                </td>

            </tr>
        </tbody>

    </table>

    <!--textarea-->
    <form name="textForm">
        <div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">整體意見回饋【必填】</label>
                @*<textarea class="form-control assesstext" ng-model="feedback" id="exampleFormControlTextarea1" rows="3" required></textarea>*@
                <textarea ng-if="state != 'submit'" class="form-control assesstext" ng-model="$parent.feedback" id="exampleFormControlTextarea" rows="3" required></textarea>
                <p ng-if="state === 'submit'" ng-bind="$parent.feedback" class="lbk"></p>
            </div>
        </div>
    </form>


    @*<div ng-if="state === 'submit'">
            <div class="form-group">
                <label>整體意見回饋</label>
                <p ng-bind="feedback"></p>
            </div>
        </div>*@


    @*<div class="form-group" ng-if="state!='submit'">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" ng-click="UpdateFeedback('save')" class="btn btn-warning" />
                <input type="submit" value="Submit" ng-disabled="textForm.$invalid" ng-click="UpdateFeedback('submit')" class="btn btn-warning" />
            </div>
        </div>*@

    <div ng-cloak ng-show="succeed" class="alert alert-success animate-show-hide" role="alert">
        儲存成功!
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-warning btn-lg mr-2" ui-sref="EmployeeList" role="button">返回</a>
            <input ng-if="state!='submit'" type="submit" value="儲存" ng-click="UpdateFeedback('save')" class="btn btn-warning btn-lg mr-2" />
            <button ng-if="state!='submit'" type="button" ng-disabled="textForm.$invalid" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
                送出
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">請確認</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    完成送出後，將無法再度修改
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" ng-click="UpdateFeedback('submit')" class="btn btn-primary">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>

