@using TEEmployee.Models;
@{
    ViewBag.Title = "ChartEmployee";
    ViewBag.Title = "員工自我評估總表";
}

@section Styles {
    <style>
        body {
            /*background-color: linen;*/
        }

        header {
            margin-top: 100px;
        }

        .chartmenu {
            display: flex;
        }

            .chartmenu div {
                flex: 1;
                margin: 0 20px;
            }

        .top-btn {
            position: fixed;
            bottom: 40px;
            right: 40px;
            z-index: 99;
        }
        /* .back-btn {
            position: fixed;
            bottom: 40px;
            right: 120px;
            z-index: 99;
        }*/
        .highlight-select {
            background-color: papayawhip;
        }

        .bar div {
            height: 50vh;
        }
    </style>
}

@*<div id="top"></div>>*@

<div ng-controller="ChartEmployeeCtrl">
    <div class="container">

        <header class="mb-4 d-flex justify-content-between">
            <h2>員工自我評估總表</h2>
            <div>
                <a class="btn btn-outline-primary btn-lg mr-2" href="Assessment/ChartMenu" role="button">返回</a>
            </div>
        </header>


        <div class="chartmenu mb-5">
            <div>
                <label for="SelectYear">請選擇年份</label>
                <select class="form-select" id="SelectYear" name="SelectYear" ng-model="selectedYear" ng-change="GetChartData()" aria-label="Select the Year">
                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select>
            </div>
            <div>
                <label for="SelectGroup">請選擇組別</label>
                <select class="form-select" id="SelectGroup" name="SelectGroup" ng-model="selectedGroup" ng-change="FilterDataByGroup(selectedGroup)" aria-label="Select the Group">
                    <option ng-repeat="group in groups" ng-class="{'highlight-select': group == '設計' || group == '規劃'|| group == '專管'|| group == '智慧軌道創新小組'|| group == '行政組'|| group == '計畫管理組'}" value="{{group}}">{{group}}</option>
                </select>
            </div>
            <div>
                <label for="SelectCategory">請選擇項目</label>
                <select class="form-select" id="SelectCategory" name="SelectCategory" ng-model="selectedCategory" ng-change="DrawChart()" aria-label="Select the Category">
                    <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                </select>
            </div>
        </div>

        <div id="painting">

        </div>
    </div>



</div>

<div class="top-btn"><a class="btn btn-primary" href="Assessment/ChartEmployee#top" role="button">Top</a></div>
@*<div class="back-btn"><a class="btn btn-primary" href="Assessment/ChartMenu" role="button">返回</a></div>*@


@section scripts {
    @*<script src="~/Scripts/WebApp/Assessment/ChartEmployeeCtrl.js"></script>*@
    <script src="@Url.Versioned("~/Scripts/WebApp/Assessment/ChartEmployeeCtrl.js")"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@
    <script src="~/Scripts/chart.min.js"></script>
    @*<script src="~/Scripts/WebApp/Assessment/CustomChart.js"></script>*@
    <script src="@Url.Versioned("~/Scripts/WebApp/Assessment/CustomChart.js")"></script>
    @*<script src="~/Scripts/WebApp/Assessment/SelfChart.js"></script>*@
}
