
@{
    ViewBag.Title = "ChartMenu";
}

@section Styles {
    <style>
        body {
            /*background-color: linen;*/
        }
        header {
            margin-top: 100px;
        }
        main {
            margin: 0 auto;
            width: 80%;
            max-width = 980px;
            /*background-color: lightcyan;*/
        }
    </style>
}

<header>
    @*<h2>ChartMenu</h2>*@
    <h2 class="ml-2">統計圖表</h2>
</header>

<main>
    <div class="card-deck">
        <div class="card text-white bg-dark mb-3">
            <a target="_blank" href="~/Assessment/ChartEmployee">
                <img class="card-img-top" src="~/Content/assets/img/employee.jpg" alt="Card image cap">
            </a>            
            <div class="card-body">
                <h5 class="card-title">員工自我評估總表</h5>
                @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
            </div>
            <div class="card-footer">
                @*<small class="text-muted">Last updated 3 mins ago</small>*@
            </div>
        </div>
        <div class="card text-white bg-dark mb-3">
            <a target="_blank" href="~/Assessment/ChartManager">
                <img class="card-img-top" src="~/Content/assets/img/team.jpg" alt="Card image cap">
            </a>            
            <div class="card-body">
                <h5 class="card-title">給予主管建議評估總表</h5>
                @*<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>*@
            </div>
            <div class="card-footer">
                @*<small class="text-muted">Last updated 3 mins ago</small>*@
            </div>
        </div>        
    </div>
</main>






