@using TEEmployee.Models;
@{

    ViewBag.Title = "Assessment";
    ViewBag.Title = "自評表與考核";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutStar.cshtml";
    //ViewBag.date = DateTime.Now.ToString("MMdd");
}



@section Styles {
    <style>
        .card-img-top {
            max-width: 256px;
        }

        header {
            margin-top: 100px;
        }
    </style>
}

<div ng-controller="IndexCtrl" class="container">

    <header>
        <h2>自評表與考核</h2>
    </header>

    <div>
        @*<h3>Hi @(Session["empno"] +" "+Session["empname"])</h3>*@
        @*<a class="btn btn-primary" href="~/Assessment/Self">員工自評表</a>
            <a class="btn btn-danger" href="~/Assessment/Manage">主管評分表</a>
            <a class="btn btn-success" href="~/Assessment/SelfChart">自評統計</a>*@
        <div class="card-deck">
            <div class="card text-center text-white">
                <a href="~/Assessment/Self">
                    @*<img class="card-img-top" src="~/Content/assets/img/crocodile.png" alt="Card image cap">*@
                    <img class="card-img-top" src="~/Content/assets/img/self.png" alt="Card image cap">
                    <h5 class="card-title">自我評估表 <span ng-cloak ng-show="FeedbackNotification.Unread" class="badge badge-success">新回饋</span></h5>
                </a>
                @*@{
                if (true)
                {
                    <div>12345678</div>
                }



            }

            @if (true)
            {
                <div>87654321</div>
            }*@


                <div class="card-body">
                    @*<p class="card-text">With supporting text below as a natural lead-in to additional content</p>*@
                </div>
            </div>
            <div class="card text-center">
                <a href="~/Assessment/Manage">
                    @*<img class="card-img-top" src="~/Content/assets/img/tiger.png" alt="Card image cap">*@
                    <img class="card-img-top" src="~/Content/assets/img/manager.png" alt="Card image cap">
                    <h5 class="card-title">給予主管建議評估表</h5>
                    <div class="card-body">
                        @*<p class="card-text">With supporting text below as a natural lead-in to additional content</p>*@
                    </div>
                </a>
            </div>



            @if (Session["role"] is object)
            {
                if (Session["role"].ToString() == "Manager")
                {
                    <div class="card text-center">
                        <a href="~/Assessment/Feedback">
                            @*<img class="card-img-top" src="~/Content/assets/img/rabbit.png" alt="Card image cap">*@
                            <img class="card-img-top" src="~/Content/assets/img/feedback.png" alt="Card image cap">
                            <h5 class="card-title">主管給予員工建議</h5>
                            <div class="card-body">
                                @*<p class="card-text">With supporting text below as a natural lead-in to additional content</p>*@
                            </div>
                        </a>
                    </div>
                }


                @*<div class="card text-center">
                <a href="~/Assessment/Self">
                    <img class="card-img-top" src="~/Content/assets/img/panda-bear.png" alt="Card image cap">
                    <h5 class="card-title">Special title treatment</h5>
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content</p>
                    </div>
                </a>
            </div>*@

                <div class="card text-center">
                    <a href="~/Assessment/ChartMenu">
                        @*<img class="card-img-top" src="~/Content/assets/img/panda-bear.png" alt="Card image cap">*@
                        <img class="card-img-top" src="~/Content/assets/img/chart.png" alt="Card image cap">
                        <h5 class="card-title">統計圖表</h5>
                        <div class="card-body">
                            @*<p class="card-text">With supporting text below as a natural lead-in to additional content</p>*@
                        </div>
                    </a>
                </div>
            }

            <div class="card text-center">
                <a href="~/GKPI/Fillin">
                    <img class="card-img-top" src="~/Content/assets/img/pingu.png" alt="Card image cap">
                    <h5 class="card-title">填KPI</h5>
                    <div class="card-body">
                    </div>
                </a>
            </div>

            <div class="card text-center">
                <a href="~/GKPI/Feedback">
                    <img class="card-img-top" src="~/Content/assets/img/Scooby_Doo.jpg" alt="Card image cap">
                    <h5 class="card-title">看KPI</h5>
                    <div class="card-body">
                    </div>
                </a>
            </div>


        </div>


    </div>

</div>

@section Scripts {
    <script src="@Url.Versioned("~/Scripts/WebApp/Assessment/IndexCtrl.js")"></script>
    @*<script src="~/Scripts/WebApp/Assessment/IndexCtrl.js?@ViewBag.date"></script>*@
    @*<script src="~/Scripts/WebApp/Assessment/IndexCtrl.js?v=1"></script>*@
    @*<script src="~/Scripts/WebApp/Assessment/IndexCtrl.js"></script>*@
}
