@{
    ViewBag.Title = "Assessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assessments</h2>

<div ng-controller="IndexCtrl">

    <table class="table">

    </table>
    <a class="btn btn-primary" href="~/Assessment/Self">員工自評表</a>
    <a class="btn btn-danger" href="~/Assessment/Manage">主管評分表</a>
</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Assessment/IndexCtrl.js"></script>
}
