@using TEEmployee.Models;
@{
    ViewBag.Title = "Manage";
    ViewBag.Title = "給予主管建議評估表";
    Layout = "~/Views/Shared/_LayoutStar.cshtml";
}

@section Styles {
    <style>
        p.lbk {
            white-space: pre-line;
        }
    </style>
}

<div ng-controller="ManageCtrl" class="container" style="margin-top: 100px">
    <div ui-view></div>
</div>

@section Scripts {
    @*<script src="~/Scripts/WebApp/Assessment/ManageCtrl.js"></script>*@
    <script src="@Url.Versioned("~/Scripts/WebApp/Assessment/ManageCtrl.js")"></script>
}