
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutStar.cshtml";
}

<div ng-controller="ManageCtrl" class="container" style="margin-top: 100px">
    <div ui-view></div>
</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Assessment/ManageCtrl.js"></script>
}