@{
    ViewBag.Title = "Manage";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Manage</h2>*@

@section Styles {
    @*<link href="@Url.Content("~/Styles/view_specific_style.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/css/table.css" rel="stylesheet" />
}

<div ng-controller="ManageCtrl">

    <table class="table table-striped custom-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CategoryId</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ManageAssessments">
                <td ng-bind="item.Id"></td>
                <td ng-bind="item.CategoryId"></td>
                <td ng-bind="item.Content"></td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="response.choices[$index]" name="inlineRadioOptions{{$index}}" id="inlineRadio1" value="非常同意">
                        <label class="form-check-label" for="inlineRadio1">非常同意</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="response.choices[$index]" name="inlineRadioOptions{{$index}}" id="inlineRadio2" value="同意">
                        <label class="form-check-label" for="inlineRadio2">同意</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="response.choices[$index]" name="inlineRadioOptions{{$index}}" id="inlineRadio3" value="普通">
                        <label class="form-check-label" for="inlineRadio3">普通</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" ng-click="CreateResponse()" class="btn btn-warning" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Assessment/ManageCtrl.js"></script>
}
