<div ng-controller="ManagerOptionCtrl" class="container" style="margin-top: 100px">
    <div class="card-columns">
        <div class="card" ng-repeat="item in GetScorePeople">
            @*<img src="~/Content/assets/img/people.png" class="card-img-top" alt="Card image cap">*@
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.empno}}</p>
                <input type="submit" value="填問卷" ng-click="ManagerSuggest(item)" class="btn btn-warning" />
                @*<a href="#" class="btn btn-primary">填問卷</a>*@
            </div>
        </div>
    </div>
</div>