<div ng-controller="FutureCtrl">

    <h3>未來3年數位轉型規劃</h3>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">計畫編號</th>
                <th scope="col">工作項目</th>
                <th scope="col">主要人員/使用人時</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.Owned.Future">
                <td ng-bind="row.projno"></td>
                <td ng-bind="row.content"></td>
                <td ng-bind="row.member"></td>
            </tr>
        </tbody>
    </table>

</div>
