
@{
    ViewBag.Title = "升等規劃與條件";
}

@section Styles {

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <style>
        /*body {
            background-image: url('./Content/assets/img/promotion.jpg');
            background-position: bottom right;
            background-size: 20%;
            background-repeat: no-repeat;
        }*/
        body {
            /*overflow: hidden;*/
        }

        /*.container {
            position: relative;
            top: 0px;
            left: 0px;
            z-index: 1;
        }*/

        .posr {
            position: relative;
            top: 0px;
            left: 0px;
            z-index: 1;
        }

        .box {
            position: fixed;
            width: 18vw;
            height: auto;
            bottom: 8vh;
            right: 8vw;
        }

        .cover {
            width: 100%;
            height: 100%;
            opacity: 0.4;
            z-index: -1;
        }

        .mt100 {
            margin-top: 100px;
        }

        td.title {
            font-family: 'Noto Sans TC', sans-serif;
            white-space: pre-line;
        }

        .form-check-input {
            width: 20px;
            height: 20px;
        }

        footer, hr {
            display: none;
        }

        .xbox {           
            position: absolute;            
            top: 70px;
            left: -80px;
        }

        .xbox2 {
            position: absolute;
            top: 200px;
            left: -80px;
        }

        .outbox {
            position: relative;
        }
    </style>
}



<div ng-controller="PromotionCtrl" class="container mt100">



    <div class="d-flex justify-content-between">
        <div>
            <h2 class="bg-secondary text-white p-2 d-inline-block">升等規劃與條件</h2>
            <h5 class="p-2 d-inline-block">升等目標： {{nextProfTitle}}</h5>
        </div>

        @if (Session["leader"] is object || Session["group_leader"] is object)
        {
            <div class="d-flex justify-content-between">
                <div class="mr-5">
                    <select class="form-select" id="SelectUpgrade" name="SelectUpgrade" ng-model="selectedUpgrade" ng-change="selectUpgrade()" aria-label="Select the Upgrade type">
                        <option value="" selected>全部員工</option>
                        <option value="normal">一般升等</option>
                        <option value="bonus">特別升等</option>
                    </select>
                </div>
                <div class="mr-5">
                    <select class="form-select" id="SelectRecommended" name="SelectRecommended" ng-model="selectedRecommended" ng-change="selectRecommended()" ng-hide="selectedUpgrade===''" aria-label="Select the Recommended">
                        <option value="" selected>全部</option>
                        <option value="unrecommended">未提報</option>
                        <option value="recommended">已提報</option>
                    </select>
                </div>
                <div class="mr-5">
                    <select class="form-select" id="SelectTitle" name="SelectTitle" ng-model="selectedTitle" ng-change="selectTitle()" aria-label="Select the Year">
                        <option ng-repeat="title in titles" value="{{title}}" ng-bind="title"></option>
                    </select>
                </div>
                <div class="mr-5">
                    <select class="form-select" id="SelectName" name="SelectName" ng-model="selectedName" ng-change="selectName()" aria-label="Select the Category">
                        @*<option value="" disabled selected>請選擇員工</option>*@
                        <option ng-repeat="name in names" value="{{name}}" ng-bind="name"></option>
                    </select>
                </div>
                <div>

                    <button type="button" class="btn btn-outline-primary btn-sm" ng-click="downloadAuthExcel()">
                        <span class="material-icons">download</span>
                    </button>
                    <label style="font-size: 0.9em">升等名單下載</label>
                </div>
            </div>
        }

    </div>

    <div class="outbox">
        <div class="xbox p-2 bg-primary text-white">一般</div>
        <div class="xbox2 p-2 bg-primary text-white">特別</div>
    </div>

    <table class="table mt-3 posr">

        <thead class="thead">
            <tr>
                <th scope="col" width="30%">升等條件</th>
                <th scope="col" width="10%">已達成</th>
                <th scope="col" width="40%">說明</th>
                <th scope="col" width="20%">證明文件</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data" ng-show="showPromotion(item)">
                <td class="title" ng-bind="item.content"></td>
                <td>
                    <div class="form-check">
                        <input ng-model="item.achieved" class="form-check-input" type="checkbox" ng-change="UpdatePromotion(item)">
                    </div>
                </td>
                <td>
                    <div class="d-flex">
                        <button type="button" ng-click="copyComment(item)" class="btn" data-toggle="modal" data-target="#commentModalCenter">
                            <span class="material-icons">edit</span>
                        </button>
                        <p ng-bind="item.comment"></p>
                        @*<button type="button" ng-click="" class="btn btn-sm" data-toggle="modal" data-target="#skillModal">
                                <span class="material-icons text-white">edit_note</span>
                            </button>*@
                    </div>
                </td>
                <td>
                    <button type="button" ng-click="uploadFile($index)" class="btn">
                        <span class="material-icons">
                            upload_file
                        </span>

                    </button>
                    <a ng-bind="item.filepath" href="" ng-click="downloadFile(item)"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-show="showRecommended(recommendedItem)" class="row my-5">
        <div class="col-sm-4">
            <div class="card border-primary">
                <div class="card-body">
                    <div class="form-check">
                        <input ng-model="recommendedItem.achieved" type="checkbox" class="form-check-input" id="exampleCheck1" ng-change="UpdatePromotion(recommendedItem)" style="width:2em; height: 2em">
                        <label ng-bind="recommendedItem.content" class="form-check-label ml-5" for="exampleCheck1" style="font-size:2em"></label>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="alert alert-warning" role="alert" style="width:30%">
        檔案限定格式為.pdf，檔案大小不得超過10MB
    </div>

    <div>
        <img src="~/Content/assets/img/promotion_conditions.jpg" class="img-fluid" alt="Responsive image">
    </div>

    <div>
        <form id="formElem">
            <input type="file" id="filepicker" name="file" accept=".pdf" hidden>
            @*<input type="submit">*@
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="commentModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">說明</label>
                        <textarea ng-model="modal.comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveComment()">儲存</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="box">
    <img src="./Content/assets/img/promotion.jpg" alt="balloons" class="cover">
</div>

@section Scripts {
    <script src="~/Scripts/WebApp/Promotion/PromotionCtrl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.js" integrity="sha512-B+gr+zLWg81qxVwvtYwKrmjvQtZKD/GGFF7jD80OfzbqFw+NsbS5faEqpCO7Q7oRw1bYi0+WLJf54j8Vm7NADw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

