
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <style>
        header {
            margin-top: 100px;
        }
    </style>
}

<header>@ViewBag.Title</header>

<div ng-controller="TestCtrl" class="container">

    <form id="formElem">
        <input type="text" name="firstName" value="John">
        Files: <input type="file" id="filepicker" name="files" multiple>
        <input type="submit">
        <output id="output"></output>
    </form>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">55688</span>
        </div>
        <input ng-model="name" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <button type="button" ng-click="downloadMyPage()" class="btn btn-primary">Download Excel</button>

</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="~/Scripts/WebApp/Test/TestCtrl.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.js" integrity="sha512-B+gr+zLWg81qxVwvtYwKrmjvQtZKD/GGFF7jD80OfzbqFw+NsbS5faEqpCO7Q7oRw1bYi0+WLJf54j8Vm7NADw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@

}

