.switch-button {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgba(244, 98, 58, 0.46);
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    text-align: center;
    /*font-size: 18px;*/
    font-size: 14px;
    letter-spacing: 1px;
    color: #FFF;
    padding-right: 120px;
    position: relative;
    /*custom*/
}

    .switch-button::before {
        content: "下半年";
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        pointer-events: none;
        /*color: #F4623A;*/        
        /*transition: color 2s ease*/
    }

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
/*

.switch-button-label {
    transition: color 2s ease;
}

.switch-button-checkbox:checked + .switch-button-label {
    color: #F4623A;
}
*/



    .switch-button-checkbox:checked + .switch-button-label::before {
        transform: translateX(120px);
        transition: transform 300ms linear;
    }


    .switch-button-checkbox + .switch-button-label {
        position: relative;
        padding: 15px 0;
        display: block;
        user-select: none;
        pointer-events: none;
        margin: 0;
    }

        .switch-button-checkbox + .switch-button-label::before {
            content: "";
            background: #F4623A;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 30px;
            transform: translateX(0);
            transition: transform 300ms;
        }

        .switch-button-checkbox + .switch-button-label .switch-button-label-span {
            position: relative;
        }
